<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>


<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        
	<h1>
            <%block name="pageheader">${page_header or _("Privacy Policy")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">
                <h2>1. Introduction</h2>
                <p>Bienvenue sur AfrilearnX, la plateforme d'apprentissage en ligne conçue pour transformer votre parcours éducatif en une expérience enrichissante et personnalisée. Chez AfrilearnX, nous valorisons la confiance que vous placez en nous en partageant vos informations personnelles. Nous nous engageons à protéger votre vie privée et à traiter vos données avec le plus grand respect et conformément aux lois sur la protection des données applicables.</p>
                <p>Cette Politique de Confidentialité explique en détail les types d'informations personnelles que nous collectons auprès de vous ou que vous pouvez nous fournir lorsque vous visitez le site web https://www.afrilearn.online/ (notre "Site") et nos pratiques pour collecter, utiliser, maintenir, protéger, et divulguer ces informations.</p>
                <p>En accédant ou en utilisant notre Site, vous acceptez les pratiques décrites dans cette Politique de Confidentialité. Cette Politique de Confidentialité peut changer de temps à autre (voir Modifications de la Politique de Confidentialité). Votre utilisation continue de ce Site après que nous ayons apporté des modifications est considérée comme une acceptation de ces modifications, veuillez donc vérifier la politique périodiquement pour les mises à jour.</p>
                
				<h2>2. Collecte d'Informations</h2>
                <p><strong>Informations que vous nous fournissez :</strong> La majorité des données que nous collectons sont celles que vous nous fournissez directement. Cela inclut, mais sans s'y limiter :</p>
                <ul>
                    <li>Informations d'identification personnelle, telles que votre nom, adresse e-mail, numéro de téléphone, et toute autre information que le Site demande lorsque vous vous inscrivez ou participez à des activités éducatives.</li>
                    <li>Réponses aux quiz, devoirs soumis, et interactions dans les forums de cours, reflétant votre performance et engagement dans le processus d'apprentissage.</li>
                    <li>Communications avec notre équipe de support client, qui peuvent inclure des détails sur vos questions, préoccupations, et feedback sur le service.</li>
                </ul>
                <p><strong>Informations que nous collectons automatiquement :</strong> Lorsque vous naviguez et interagissez sur notre Site, nous collectons certaines informations relatives à votre équipement, actions, et habitudes de navigation, y compris :</p>
                <ul>
                    <li>Détails de vos visites sur notre Site, y compris les données de trafic, les journaux, et autres données de communication et les ressources auxquelles vous accédez et utilisez sur le Site.</li>
                    <li>Informations sur votre ordinateur et connexion internet, y compris votre adresse IP, système d'exploitation, et type de navigateur.</li>
                </ul>
                
                <h2>3. Utilisation des Informations</h2>
                <p>Les informations que nous collectons sur vous ou que vous nous fournissez sont utilisées pour :</p>
                <ul>
                    <li>Vous présenter notre Site et son contenu de manière efficace.</li>
                    <li>Vous fournir les informations, produits, ou services que vous nous demandez.</li>
                    <li>Vous offrir un support client et répondre à vos demandes et besoins.</li>
                    <li>Vous informer sur les changements apportés à notre Site, nos services, ou nos politiques de confidentialité.</li>
                    <li>Vous permettre de participer à des fonctionnalités interactives sur notre Site.</li>
                    <li>Améliorer notre Site, services, marketing, ou relations avec les clients.</li>
                    <li>Réaliser des recherches et des analyses pour développer de nouveaux contenus, produits, et services.</li>
                    <li>Détecter, prévenir, et répondre aux problèmes techniques, fraudes, ou autres activités illégales.</li>
                </ul>
				
				<h2>4. Partage des Informations</h2>
                <p><strong>Avec des Tiers :</strong> Nous partageons vos informations personnelles avec des tiers uniquement dans les manières décrites dans cette politique de confidentialité :</p>
                <ul>
                    <li><strong>Fournisseurs de Services :</strong> Nous faisons appel à des entreprises tierces et à des individus pour faciliter notre Service (par exemple, maintenance, analyse, audit, marketing, développement). Ces tiers ont accès à vos informations personnelles uniquement pour effectuer ces tâches en notre nom et sont obligés de ne pas les divulguer ni les utiliser à d'autres fins.</li>
                    <li><strong>Conformité Légale et Protection :</strong> Nous divulguons des informations personnelles si nous croyons que cela est nécessaire pour se conformer à une loi, une réglementation, une procédure légale, ou une demande gouvernementale obligatoire, pour exercer, établir ou défendre des droits légaux, ou pour protéger vos droits, propriété, ou sécurité, ceux d'AfrilearnX, de ses utilisateurs, ou du public.</li>
                    <li><strong>Transactions d'Affaires :</strong> Dans le cas où AfrilearnX est impliqué dans une fusion, acquisition, réorganisation, faillite, ou vente de tout ou partie de ses actifs, vos informations peuvent être transférées dans le cadre de cette transaction.</li>
                </ul>
                
                <h2>5. Sécurité des Données</h2>
                <p>La sécurité de vos informations personnelles est d'une importance capitale pour nous. Nous suivons des normes de sécurité de l'industrie pour protéger les informations personnelles soumises à nous, tant pendant la transmission qu'une fois que nous les recevons. Cela inclut l'utilisation de mesures de sécurité physiques, techniques, et administratives pour prévenir l'accès non autorisé, la perte, la destruction, ou l'altération de vos informations.</p>
                
                <h2>6. Droits de l'Utilisateur</h2>
                <p>Conformément à la législation sur la protection des données, vous disposez de droits spécifiques concernant les informations personnelles que nous détenons à votre sujet :</p>
                <ul>
                    <li><strong>Accès et Correction :</strong> Vous avez le droit de demander une copie des informations personnelles que nous détenons à votre sujet et de demander la correction de toute information incorrecte.</li>
                    <li><strong>Suppression :</strong> Dans certaines circonstances, vous pouvez demander la suppression de vos données personnelles de nos systèmes.</li>
                    <li><strong>Limitation et Opposition au Traitement :</strong> Vous avez le droit de nous demander de limiter le traitement de vos informations personnelles ou de vous opposer à notre traitement de vos informations dans certaines circonstances.</li>
                    <li><strong>Portabilité des Données :</strong> Vous avez le droit de recevoir les informations personnelles vous concernant que vous nous avez fournies, dans un format structuré, couramment utilisé et lisible par machine, et vous avez le droit de transmettre ces données à un autre contrôleur sans entrave de notre part.</li>
                </ul>
				
				<h2>7. Modifications de la Politique de Confidentialité</h2>
                <p>AfrilearnX se réserve le droit de mettre à jour ou de modifier cette Politique de Confidentialité à tout moment et pour n'importe quelle raison. Les modifications apportées à notre Politique de Confidentialité entreront en vigueur immédiatement après leur publication sur notre site. Nous vous encourageons à consulter régulièrement cette page pour les dernières informations sur nos pratiques de confidentialité.</p>
                <p>Si nous apportons des changements significatifs à cette politique, nous vous en informerons par le biais d'un avis bien visible sur notre site ou par un autre moyen, tel que l'envoi d'un email. Votre utilisation continue de notre service après ces changements constitue votre acceptation de la nouvelle Politique de Confidentialité.</p>
                
                <h2>8. Contact</h2>
                <p>Si vous avez des questions ou des préoccupations concernant cette Politique de Confidentialité ou le traitement de vos données personnelles par AfrilearnX, n'hésitez pas à nous contacter. Vous pouvez nous joindre de la manière suivante :</p>
                <ul>
                    <li>Email : contact@afrilearn.online</li>
                    <li>Adresse Postale : Abidjan Cocody Riviera 4, SCI Toits du Tisserins Villa n°2</li>
                    <li>Téléphone : +225 05 86 69 09 50</li>
                </ul>
                
                <h2>9. Cookies et Technologies de Suivi</h2>
                <p>AfrilearnX utilise des cookies et d'autres technologies de suivi pour améliorer et personnaliser votre expérience sur notre site, ainsi que pour analyser et mesurer notre audience et l'utilisation de notre service. Un cookie est un petit fichier texte stocké sur votre appareil qui nous aide, par exemple, à vous reconnaître lorsque vous revenez sur notre site, à mémoriser vos préférences, et à vous fournir un contenu pertinent.</p>
                <p>Voici comment et pourquoi nous utilisons ces technologies :</p>
                <ul>
                    <li><strong>Cookies Essentiels :</strong> Nécessaires pour vous fournir les services disponibles sur notre site web et pour utiliser certaines de ses fonctionnalités, comme l'accès à des zones sécurisées.</li>
                    <li><strong>Cookies de Performance et Fonctionnalité :</strong> Ces cookies sont utilisés pour améliorer la performance et la fonctionnalité de notre site web mais ne sont pas essentiels à son utilisation. Cependant, sans ces cookies, certaines fonctionnalités peuvent devenir indisponibles.</li>
                    <li><strong>Cookies Analytiques et de Personnalisation :</strong> Nous utilisons ces cookies pour collecter des informations sur le trafic vers notre site et comment les utilisateurs utilisent notre site. Ils nous permettent de reconnaître et de compter le nombre de visiteurs et de voir comment les visiteurs se déplacent autour de notre site.</li>
                </ul>
                <p>Vous avez le choix de contrôler ou de limiter comment nous et nos partenaires utilisons les cookies et technologies similaires pour la publicité, l'analyse, et d'autres fins. Consultez les paramètres de votre navigateur pour plus d'informations sur la manière de gérer vos préférences en matière de cookies.</p>


                <h2>10. Transfert International</h2>
                <p>Dans le cadre de nos opérations internationales, nous pouvons transférer vos informations personnelles à des entités dans des pays autres que le vôtre. Ces pays peuvent avoir des lois de protection des données différentes et potentiellement moins strictes que celles de votre pays. En utilisant notre service, vous consentez à ce transfert d'informations à l'étranger.</p>
                <p>Nous prenons toutes les mesures raisonnablement nécessaires pour nous assurer que vos données sont traitées de manière sécurisée et conformément à cette Politique de Confidentialité. Cela inclut l'utilisation de clauses contractuelles types approuvées par la Commission européenne ou d'autres mécanismes appropriés pour garantir un niveau de protection des données adéquat lors du transfert de vos informations personnelles.</p>
                
                <h2>11. Conservation des Données</h2>
                <p>AfrilearnX conserve vos informations personnelles aussi longtemps que nécessaire pour fournir les services demandés, pour des fins commerciales légitimes, ou pour se conformer à nos obligations légales. Les critères utilisés pour déterminer nos périodes de conservation incluent :</p>
                <ul>
                    <li>La durée de votre utilisation de notre service et de votre compte AfrilearnX.</li>
                    <li>Si nous sommes soumis à une obligation légale, contractuelle, ou similaire nécessitant la conservation de vos données (par exemple, en raison de mandats de conservation des données imposés par la loi, de litiges, ou d'enquêtes réglementaires).</li>
                </ul>
                <p>Une fois que nous n'avons plus besoin de conserver vos informations personnelles, nous les supprimons ou les anonymisons de manière sécurisée, ou, si cela n'est pas possible (par exemple, parce que vos informations personnelles ont été stockées dans des archives de sauvegarde), nous les stockons de manière sécurisée et les isolons de tout traitement ultérieur jusqu'à ce que la suppression soit possible.</p>
                
                <h2>12. Liens vers d'Autres Sites</h2>
                <p>Notre service peut contenir des liens vers d'autres sites qui ne sont pas exploités par nous. Si vous cliquez sur un lien tiers, vous serez dirigé vers le site de ce tiers. Nous vous conseillons fortement de consulter la Politique de Confidentialité de chaque site que vous visitez.</p>
                <p>Nous n'avons aucun contrôle sur, et ne pouvons assumer aucune responsabilité pour le contenu, les politiques de confidentialité, ou les pratiques des sites ou services de tiers.</p>

                <section id="data-deletion">
    <h2>Suppression des Données Utilisateur</h2>
    <p>
        Nous comprenons l'importance de la protection de vos données personnelles et nous nous engageons à vous fournir le contrôle sur vos informations. Si vous souhaitez supprimer votre compte et les données associées de notre plateforme, nous vous offrons un processus simple et direct pour le faire. Pour demander la suppression de vos données, veuillez nous contacter via <a href="mailto:contact@afrilearn.online">contact@afrilearn.online</a>. Une fois votre demande reçue, nous vous fournirons les instructions nécessaires pour vérifier votre identité et procéder à la suppression de vos données. Nous pouvons également vous rediriger vers un outil ou un site web tiers sécurisé pour faciliter la suppression de vos données. Veuillez noter que ce processus peut nécessiter un délai raisonnable pour être complété, conformément aux exigences légales et réglementaires.
    </p>
</section> 
                
            </%block>
        </p>

        <!-- NEW IN INDIGO: add graphic image -->
        <div class="graphic-img">
            <img src="${static.url('images/privacy.svg')}" alt="Runs on Tutor" />
        </div>
    </section>
</main>
