<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        
        <h1>
            <%block name="pageheader">${_("Terms of Service")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">
                <h2>${_("1. Introduction")}</h2>
                <p>${_("Bienvenue sur AfrilearnX, une plateforme innovante d'apprentissage en ligne conçue pour offrir une expérience éducative de qualité supérieure à nos utilisateurs du monde entier. Notre mission est de rendre l'éducation accessible à tous, en fournissant des ressources pédagogiques riches et diversifiées adaptées à chaque apprenant.")}</p>
                <p>${_("Ces Conditions Générales d'Utilisation (ci-après dénommées \"CGU\") régissent votre accès et votre utilisation du site web https://www.afrilearn.online/ ainsi que de tous les contenus, services et produits disponibles sur ou via la plateforme (collectivement désignés le \"Service\"). Le Service est proposé sous réserve de votre acceptation sans modification de toutes les conditions et avis contenus ici et de toutes autres règles d'exploitation, politiques (y compris, sans limitation, la Politique de Confidentialité d'AfrilearnX) et procédures qui peuvent être publiées de temps à autre sur ce Site par AfrilearnX (collectivement, l'\"Accord\").")}</p>
                
				 <h2>2. Acceptation des Conditions</h2>
                <p>En accédant ou en utilisant de quelque manière que ce soit le Service, vous acceptez d'être lié par les CGU. Si vous n'êtes pas d'accord avec toutes les conditions de cet Accord, alors vous ne pouvez pas accéder au Site ou utiliser les services. Si ces CGU sont considérées comme une offre par AfrilearnX, l'acceptation est expressément limitée à ces termes.</p>
                <p>Le Service est disponible uniquement pour les individus âgés de 13 ans ou plus. En accédant ou en utilisant le Service, vous déclarez et garantissez que vous avez 13 ans ou plus et que vous avez la pleine capacité et l'autorité pour entrer dans cet Accord.</p>
                
                <h2>3. Accès et Utilisation du Service</h2>
                <p><strong>Accès au Service :</strong> AfrilearnX vous accorde une licence limitée, non exclusive, non transférable, pour accéder et utiliser le Service pour votre usage personnel, non commercial, sous réserve des termes de cet Accord.</p>
                <p><strong>Compte Utilisateur :</strong> Pour accéder à certaines fonctionnalités du Service, vous devrez créer un compte. Vous vous engagez à fournir des informations exactes, complètes et à jour lors de la création de votre compte. Vous êtes entièrement responsable de toute activité qui se produit sous votre compte, y compris pour tout dommage ou préjudice résultant de votre manquement à maintenir la sécurité de votre compte.</p>
               
			    <h2>4. Contenu de la Plateforme</h2>
                <p><strong>Contenu Généré par AfrilearnX :</strong> Tous les contenus publiés par AfrilearnX, y compris, sans limitation, les textes, graphiques, logos, images, compilations de données, et logiciels, sont la propriété d’AfrilearnX ou de ses fournisseurs de contenu et sont protégés par les lois internationales sur le droit d'auteur. Le contenu est fourni sur une base "tel quel" et ne peut être utilisé, copié, reproduit, distribué, transmis, diffusé, affiché, vendu, concédé sous licence, ou autrement exploité pour quelque autre but sans le consentement préalable écrit d’AfrilearnX.</p>
                <p><strong>Contenu Généré par les Utilisateurs :</strong> Les utilisateurs peuvent publier, télécharger, partager ou de toute autre manière rendre disponible du contenu, tel que des commentaires sur des cours, des réponses dans des forums, ou des soumissions de devoirs. En publiant du contenu sur AfrilearnX, vous accordez à AfrilearnX une licence mondiale, non exclusive, libre de droits, perpétuelle, transférable pour utiliser, copier, modifier, créer des œuvres dérivées, distribuer, afficher publiquement, et exécuter le contenu en relation avec le service fourni par AfrilearnX.</p>
                
                <h2>5. Droits de Propriété Intellectuelle</h2>
                <p>Le Service et tout le contenu original, les fonctionnalités et la fonctionnalité sont et resteront la propriété exclusive d’AfrilearnX et de ses concédants de licence. Le Service est protégé par le droit d'auteur, les marques de commerce, et d'autres lois de la Côte d'Ivoire et des pays étrangers. Nos marques et habillage commercial ne peuvent être utilisés en lien avec aucun produit ou service sans le consentement préalable écrit d’AfrilearnX.</p>
                <p>Vous vous engagez à ne pas reproduire, dupliquer, copier, vendre, revendre ou exploiter toute portion du Service, utilisation du Service, ou accès au Service sans l'autorisation écrite expresse d’AfrilearnX.</p>
                
                <h2>6. Limitation de Responsabilité</h2>
                <p>En aucun cas AfrilearnX, ni ses directeurs, employés, partenaires, agents, fournisseurs, ou affiliés, ne seront tenus responsables pour tout dommage indirect, incident, spécial, consécutif ou punitif, y compris sans limitation, perte de profits, données, utilisation, bonne volonté, ou autres pertes intangibles, résultant de (i) votre accès à ou utilisation de ou incapacité à accéder ou à utiliser le Service ; (ii) tout comportement ou contenu de tout tiers sur le Service ; (iii) tout contenu obtenu du Service ; et (iv) accès non autorisé, utilisation ou altération de vos transmissions ou contenu, que ce soit basé sur la garantie, le contrat, le délit (y compris la négligence) ou toute autre théorie légale, que nous ayons été informés ou non de la possibilité de tels dommages, et même si un remède indiqué ici est constaté avoir échoué à son but essentiel.</p>

				<h2>7. Modifications des CGU</h2>
                <p>AfrilearnX peut réviser ces CGU de temps à autre pour refléter les changements dans les lois, nos services, ou pour d'autres raisons. Si ces modifications sont substantielles, nous vous fournirons un préavis raisonnable, par exemple, en affichant un avis bien visible sur notre service ou en vous envoyant un email. En continuant à accéder ou à utiliser notre Service après que ces révisions soient entrées en vigueur, vous acceptez d'être lié par les CGU révisées.</p>
                
                <h2>8. Résiliation</h2>
                <p><strong>Par l'Utilisateur :</strong> Vous pouvez cesser d'utiliser le Service à tout moment. Si vous souhaitez supprimer votre compte et vos informations personnelles de notre Service, veuillez nous contacter directement.</p>
                <p><strong>Par AfrilearnX :</strong> AfrilearnX peut suspendre ou résilier votre accès au Service à tout moment, sans préavis, pour cause, y compris, sans limitation, si vous violez les CGU. En cas de résiliation, votre droit d'utiliser le Service cessera immédiatement.</p>
                <p><strong>Conséquences de la Résiliation :</strong> À la résiliation, tous les droits accordés à vous en vertu de ces CGU cesseront immédiatement, et vous devez cesser toute utilisation du Service. Les sections des CGU qui, par leur nature, devraient survivre à la résiliation survivront à la résiliation, y compris, sans limitation, les dispositions de propriété, les exclusions de garantie, et les limitations de responsabilité.</p>
                
                <h2>9. Dispositions Générales</h2>
                <p><strong>Loi Applicable :</strong> Ces CGU seront régies et interprétées conformément aux lois de la Côte d'Ivoire, sans égard à son conflit de lois.</p>
                <p><strong>Arbitrage :</strong> Tout différend, controverse ou réclamation découlant de ou en relation avec ces CGU, y compris la validité, l'invalidité, la violation ou la résiliation de celles-ci, sera soumis à l'arbitrage final et contraignant sous les Règles d'Arbitrage de la Chambre de Commerce Internationale par un ou plusieurs arbitres nommés conformément à ces Règles.</p>
                <p><strong>Intégralité de l'Accord :</strong> Ces CGU constituent l'intégralité de l'accord entre vous et AfrilearnX concernant le Service, et remplacent et éteignent tous les accords antérieurs, propositions et communications, en écrit ou oral, entre vous et AfrilearnX.</p>
                <p><strong>Divisibilité :</strong> Si une disposition de ces CGU est jugée invalide ou inapplicable par un tribunal, les autres dispositions de ces CGU resteront en vigueur.</p>
                <p><strong>Renonciation :</strong> Le fait pour AfrilearnX de ne pas exercer ou d'appliquer un droit ou une disposition de ces CGU ne constituera pas une renonciation à ce droit ou à cette disposition.</p>

                
            </%block> 
        </p>

        <!-- NEW IN INDIGO: add graphic image -->
        <div class="graphic-img">
            <img src="${static.url('images/tos.svg')}" alt="Runs on Tutor" />
        </div>
    </section>
</main>
